.dev {
    background-color: #0d6efd !important;
}

.games {
    background-color: #ff7700 !important;
}

.social {
    background-color: #198754 !important;
}

.utilitario {
    background-color: #ffc107 !important;
}
