.midia {
    background-color: #ff5733 !important;
}

.minecraft {
    background-color: #43281c !important;
}

.disciplina {
    background-color: #1e3a5f !important;
}

.pesquisa {
    background-color: #4caf50 !important;
}

.pessoal {
    background-color: #dc3545 !important;
}

.outro {
    background-color: #495057 !important;
}
