.epic {
    background-color: #495057 !important;
}

.steam {
    background-color: #00adee !important;
}

.ubisoft {
    background-color: #5c3a85 !important;
}

.ea {
    background-color: #ffc107 !important;
}
